.app-container
{
    text-align: center;
    padding: 2rem;
}

.result-container
{
    margin-top: 2rem;
}

.result-card
{
    border: 1px solid #d2cece;
    border-radius: 8px;
    padding: 1rem;
    margin: 0.5rem auto;
    text-align: left;
    transition: box-shadow 0.2s ease-in-out;
}

.result-card:hover
{
    background-color: #d692d3;
}